
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: blue !important;
}

.nav-link{
  color: white !important;
}
.navbar-nav{
  margin-left: auto !important;
}


.smallimg{
  height: 210px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1{
  font-size: 20px !important;
}
.btn{
  color: white !important;
  box-shadow: none !important;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.65) 1px 5px 10px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
  border: solid blue !important;
  border-width: 0.3px !important;
}
.bigimg{
  height: 400px !important;
  border-radius: 5px !important;
  border: solid blue;
  border-width: 0.5px;
}
input{
  box-shadow: none !important;
  margin-top: 10px ;
  border: 1px solid black !important;

}
h2{
  font-size: 30px !important;
  padding: 10px;
  font-weight: bold !important;
  text-align: center;
}



input , select {
  box-shadow: none !important;
  border: 2px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;
}







.landing-screen, .login-screen,.register-screen {
  text-align: center;
  background-image: url('./images/kolkata.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 100vh; /* Ensure the background covers the entire screen */
}

.header {
  margin-bottom: 40px;
}

.header h1 {
  font-size: 36px;
  color: #007bff; /* Blue header text */
}

.get-started-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue; /* Blue button */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
}

.get-started-btn:hover {
  background-color: #8abff7; /* Darker blue on hover */
}

.hotel-box {
  background-color:aliceblue; /* White background for each hotel box */
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Adding a shadow effect */
  border: 2px solid blue; /* 2px width solid black border */
}

.hotel-box img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.hotel-box h3 {
  color: #007bff; /* Blue hotel name */
}


